body {
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  font-family: 'Oswald', sans-serif;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  justify-content: flex-start; /* Aligns content to the start of the page horizontally */
  height: 100vh;
  overflow: auto
}

html, body {
  height: 100%;
  overflow: auto;
}


#section-home, #section-pong, #section-tournoi, #section-classement, #section-profil, #section-modif-profil, #section-historique, #section-chat {
  background-image: url('../images/background_5.jpg');
  background-attachment: fixed; /* Keeps the background fixed */
  background-size: cover; /* Ensures the background covers the entire area */
  background-position: center; /* Centers the background image */
  height: 100vh; /* Full height to enable scrolling */
  overflow-y: auto; /* Enable vertical scrolling */
}


/* style navigation links*/
.navbar-nav .nav-link {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
}

/* title se connecter*/
h1 {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  color: #0e6071;
}

/* medium bold title not used yet  */
h2 {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  color: #0c84da;
}

/* small bold title */
h4 {
  text-align: center;
  padding-top: 10em;
  color: #0e6071;
}

/* title welcome to let's pong */
h3 {
  font-family: 'Oswald', sans-serif;
  font-size: 3.5em;  /* Large font size for visibility */
  font-weight: 400;  /* Normal weight for better readability */
  color: #0c84da;  /* Specific blue color */
  text-shadow: 3px 3px 3px rgba(0,0,0,0.5);  /* Slight shadow for depth */
  text-align: center;  /* Centers the text horizontally */
  position: absolute;
  top: 200px;  /* Distance from the top of the container */
  left: 50%;  /* Center horizontally */
  transform: translateX(-50%); /* Shift it left by half its width to truly center it */
  margin-top: 0;  /* No need for margin-top as top is used for positioning */
}

/* Title Profil de, Classement, Mode Turnoi */
h5 {
  font-family: 'Oswald', sans-serif;
  font-size: 2.5em;
  font-weight: 400;
  color: #0e6071;
  text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
  margin-left: 100px;
  padding-top: 20px;
  margin-bottom: 20px;
}

/* profil de */
h6 {
  font-family: 'Oswald', sans-serif;
  font-size: 2.5em;
  font-weight: 400;
  color: #0e6071;
  text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
  margin-left: 0px;
  padding-top: 20px;
  margin-bottom: 20px;
}

.centered-content {
  height: 100vh;  /* Full viewport height */
  display: flex;
  justify-content: center;  /* Center horizontally */
  align-items: center;  /* Center vertically */
  text-align: center;  /* Ensures the text itself is centered if it wraps onto multiple lines */
}


/* navigation links colour */
.navbar-dark .navbar-nav .nav-link.highlight:hover {
  color: #1048a9;  /* Changes color */
}

/* Navigation palette Styles */
.navbar.custom-navbar {
  background-color: #51858d !important; 
  border-bottom: 1px solid #85d7f3; /* Adds a border under the navbar */
}

/* Navigation palette link Styles */
.navbar-dark .navbar-nav .nav-link {
  color: #85d7f3;
}


/* pong style */
#section-pong {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 70px); /* Slightly less than full height */
  background-image: url('../images/background_5.jpg');
  background-attachment: fixed; /* Keeps the background fixed */
  background-size: cover; /* Ensures the background covers the entire area */
  background-position: center; /* Centers the background image */
  overflow: hidden; /* Hide any overflow */
  margin: 0; /* Remove margin */
  padding: 0 0 30px 0; /* Add padding at the bottom */
  box-sizing: border-box; /* Include padding in the height calculation */
}

#section-pong ul {
  list-style: none; /* Removes bullet points from the list */
  padding: 0; /* Removes default padding */
  margin: 20px 0; /* Adds vertical margin for separation from the canvas */
  display: flex;
  flex-direction: row; /* Aligns the buttons in a row */
  justify-content: center; /* Centers the buttons horizontally */
}

#section-pong li {
  margin: 0 10px; /* Adds horizontal spacing between buttons */
}

/* Adjustments to center and style the canvas */
#jeu-pong {
  margin-top: 20px; /* Adds some space above the canvas */
  border: 7px solid #ffffff; /* A white border for better visibility */
  background-color: #0c84da;
  width: 640px; /* Specific width */
  height: 480px; /* Specific height */
  display: block; /* Ensures the canvas is a block element for proper margin handling */
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

/* Styling for game control buttons */
#section-pong, #section-profil button {
  padding: 10px 20px; /* Padding for better touch interaction */
  font-size: 16px; /* Increases font size for better readability */
  background-color: #0c84da; /* Primary button color */
  color: white; /* Text color for contrast */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: auto; /* Auto width for content adjustment */
  margin-left: 10px;
  /* width: 200px; */
  /* margin: 10px; */
}

#section-pong, #section-profil button:hover {
  background-color: #0056b3;  /* Darker shade on hover */
}

#section-pong p {
  font-size: 24px; /* Set the font size */
  color: #ffffff; /* Change the text color */
  font-weight: bold; /* Make the font bold */
  margin-bottom: 1px; /* Add space below the paragraph */
  text-align: center; /* Center the text */
}

.game-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #0c84da;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  width: 100%;
  margin-top: 20px;
}

.game-button:hover {
  background-color: #0056b3;
}

/* Remove outline on focus for the Mon profil button */
.nav-link:focus, .game-button:focus {
  outline: none;
}

#user-profile-button {
  max-width: 200px; /* Restricts the button width */
  margin: auto; /* Centers the button horizontally */
  display: block; /* Ensures the button is block-level for margin to take effect */
  background-color: #007bff; /* Bootstrap primary blue instead of dark */
  border-color: #007bff; /* Ensures the border color matches the background */
}

#user-profile-button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

#user-profile-button:focus {
  outline: 2px solid #0056b3; /* Blue outline */
  outline-offset: 2px;
}

.file-input-label {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #0c84da;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  width: 100%;
  margin-top: 20px;
  margin-left: 100px;
}

/* chat style */

.container {
  border: 2px solid #2ad5ec;
  background-color: #59a2b1;
  border-radius: 5px;
  padding: 20px;
  width: auto;
}

#post-form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

input{

  padding: 10PX;
  padding-left: 5PX;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;

}

input[type=submit] {
  background-color: #0e6071;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer; 
}

input[type=submit]:hover {
  background-color: #0e6071;
}