body {
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  font-family: 'Oswald', sans-serif;
  font-weight: 200;  
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#section-home, #section-pong, #section-tournoi, #section-classement, #section-profil {
    background-image: url('../images/background.png');
}

/* style navigation links*/
.navbar-nav .nav-link {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
}

/* title se connecter*/
h1 {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  color: #0c84da;
}

/* medium bold title (classement...)  */
h2 {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  color: #0c84da;
}

/* small bold title */
h4 {
  text-align: center;
  padding-top: 5em;
  color: rgb(197, 225, 236);
}

/* title welcome to let's pong */
h3 {
  font-family: 'Oswald', sans-serif;
  font-size: 3.5em;  /* Large font size for visibility */
  font-weight: 400;  /* Normal weight for better readability */
  color: #0c84da;  /* Specific blue color */
  text-shadow: 3px 3px 3px rgba(0,0,0,0.5);  /* Slight shadow for depth */
  text-align: center;  /* Centers the text horizontally */
  position: absolute;
  top: 100px;  /* Distance from the top of the container */
  left: 50%;  /* Center horizontally */
  transform: translateX(-50%); /* Shift it left by half its width to truly center it */
  margin-top: 0;  /* No need for margin-top as top is used for positioning */
}

.centered-content {
  height: 100vh;  /* Full viewport height */
  display: flex;
  justify-content: center;  /* Center horizontally */
  align-items: center;  /* Center vertically */
  text-align: center;  /* Ensures the text itself is centered if it wraps onto multiple lines */
}


/* navigation links colour */
.navbar-dark .navbar-nav .nav-link.highlight:hover {
  color: #0c84da;  /* Changes color */
}

/* Navigation palette Styles */
.navbar.custom-navbar {
  background-color: #021700 !important; /* Change to any color you like */
  border-bottom: 1px solid #005fc4; /* Optional: adds a border under the navbar */
}

/* Navigation palette link Styles */
.navbar-dark .navbar-nav .nav-link {
  color: #41b8e0;
}


/* pong style */

#section-pong {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;  /* Ensures full vertical centering within the viewport */
}

#section-pong ul {
  list-style: none; /* Removes bullet points from the list */
  padding: 0; /* Removes default padding */
  margin: 20px 0; /* Adds vertical margin for separation from the canvas */
  display: flex;
  flex-direction: row; /* Aligns the buttons in a row */
  justify-content: center; /* Centers the buttons horizontally */
}

#section-pong li {
  margin: 0 10px; /* Adds horizontal spacing between buttons */
}

/* Adjustments to center and style the canvas more effectively */
#jeu-pong {
  margin-top: 20px; /* Adds some space above the canvas */
  border: 7px solid #ffffff; /* A white border for better visibility */
  background-color: #0c84da;
  width: 640px; /* Specific width */
  height: 480px; /* Specific height */
  display: block; /* Ensures the canvas is a block element for proper margin handling */
  margin-left: auto;
  margin-right: auto;
}

/* Styling for game control buttons */
#section-pong button {
  padding: 10px 20px; /* Padding for better touch interaction */
  font-size: 16px; /* Increases font size for better readability */
  background-color: #0c84da; /* Primary button color */
  color: white; /* Text color for contrast */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: auto; /* Auto width for content adjustment */
  /* width: 200px; */
  /* margin: 10px; */
}

#section-pong button:hover {
  background-color: #0056b3;  /* Darker shade on hover */
}
