.modal-content {
    width: 80%;
    margin: 0 auto;
    border: 1px solid #2ad5ec; /* A form border */
  }
  /* Customizes buttons in the modal */
  .modal-content .btn {
    background-color: #41b8e0; /* Custom button color */
    border: none; /* No border for a cleaner look */
  }

  #login-button:hover, #btn-open-login-42:hover, #btn-open-inscription:hover {
    background-color: #1048a9; /* Darker bleu on hover*/
     color: #41b8e0; /*colour text link button */
  }
  
/* Custom styles for specific buttons like 'LOGIN' and 'Se connecter avec 42Auth' */
#login-button, #btn-open-login-42, #btn-open-inscription {
  background-color: #41b8e0; /* Blue background for better visibility */
  color: #1048a9; /* White text */
}
  
  .modal-body {
    padding: 0;
  }
  .btn-close {
    position: absolute;
    right: 0;
    padding: 1em;
  }
  h1 {
    font-size: 2.3em;
    font-weight: bold;
    padding-top: 15px;
    
  }
  .myform {
    padding: 2em;
    max-width: 100%;
    background-color: #51858d !important; /* colour background form */
    color: #ffffff; /* colour text form */
    box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18);
  }
  @media (max-width: 576px) {
    .myform {
      max-width: 90%;
      margin: 0 auto;
    }
  }

  .form-control:focus {
    box-shadow: inset 0 -1px 0 #7e7e7e;
  }
  .form-control {
    background-color: inherit;
    color: #fff;
    padding-left: 0;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid #fff;
  }

  p {
    text-align: center;
    padding-top: 2em;
    color: grey;
  }
  p a {
    color: #e1e1e1;
    text-decoration: none;
  }
  p a:hover {
    color: #fff;
  }

  /* Style profil */
  .profile-info {
    margin-top: 10px;
    background-color: #51858d86;  /* Background */
    border: 1px solid #85d7f3;  /* Slight border for the rectangle */
    padding: 15px;
    margin-left: 100px;  /* Left margin to push the box right */
    margin-right: 300px;
    width: auto; /* ???????? Adjust width as needed */
    border-radius: 5px;
    padding-left: 30px;
}

.profile-item {
    margin-bottom: 20px; /* Space between items */
    font-size: 16px; /* Larger font for readability */
    color: #05178e; /* Darker text for contrast */
    font-size: 1.5em;
    text-align: left; /* Aligns text to the left */
  }
  
  .profile-label {
    font-weight: bold; /* Make labels bold */
    margin-right: 10px; /* Space between label and value */
}

#section-profil button {
    background-color: #0c84da; /* Match other button styles */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    display: block; /* Ensure it's a block to fill width */
    width: 100%; /* Full width */
    margin-top: 20px; /* Space above the button */
    margin-left: 100px;
}

#section-profil button:hover {
    background-color: #0056b3; /* Darker on hover */
}

.page {
  justify-content: flex-start; /* Aligns content to the start of the page horizontally */
}


/* Optional: Adjust the overall alignment within the profile-info if needed */
.profile-info {
  align-items: flex-start; /* Aligns items to the start vertically within the container */
}

.avatar.small-avatar {
  width: 30px;
  height: 30px;
  object-fit: cover;
}
  
  .myform .btn {
    width: 100%;
    font-weight: 800;
    background-color: #fff;
    border-radius: 0;
    padding: 0.5em 0;
  }
  .myform .btn:hover {
    background-color: inherit;
    color: #fff;
    border-color: #fff;
  }

  .small-avatar {
    width: 30px; /* Définissez la largeur souhaitée */
    height: 30px; /* Définissez la hauteur souhaitée */
    border-radius: 50%;
}

#update-user-form{
  padding-left: 100px;
  /* margin: 10px; */
}

#update-user-form input {
  margin: 15px;
  margin-left: -0.5px;
  height: 40px;
  width: 200px;
}