{% load static %}
<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'TemplateData/style.css' %}">
    <title>Let's Pong - Accueil</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
</head>
<body>
    <input type="hidden" id="userIsLoggedIn" value="{% if user.is_authenticated %}true{% else %}false{% endif %}">
    <input type="hidden" id="is2FACompleted" value="{% if request.session.is_2fa_verified %}true{% else %}false{% endif %}">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark custom-navbar">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Let's Pong</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link highlight" onclick="showSection('home')" href="#home">Home</a></li>
                    <li class="nav-item"><a class="nav-link highlight" onclick="showSection('pong')" href="#pong">Pong</a></li>
                    <li class="nav-item"><a class="nav-link highlight" onclick="showSection('tournoi')" href="#tournoi">Mode Tournoi</a></li>
					<li class="nav-item"><a class="nav-link highlight" onclick="showSection('historique')" href="#historique">Historique</a></li>
                    <li class="nav-item"><a class="nav-link highlight" onclick="showSection('chat')" href="#chat">ChatRooms</a></li>
				</ul>
            </div>
            <div class="nav-item navbar-nav">
                <a class="nav-link highlight" onclick="showSection('profil')" href="#profil">
                    {% if request.user.is_authenticated %}
                        <img id="avatar-img" src="{% static 'avatar/' %}{{ user.username }}-avatar.png" class="avatar small-avatar" onerror="this.src='{% static 'avatar/ponguser.png' %}';">
                        <span class="nav-link">{{ user.username }}</span>
                    {% else %}
                        Mon profil
                    {% endif %}
                </a>
            </div>
        </div>
    </nav>
                
    <div id="section-profil" class="page" style="display: none; overflow-y: auto;">
        <div class="my-profile-info">
            <h6>Profil de : {{ user.username }}</h6>
            <p class="email">Adresse e-mail : {{ user.email }}</p>
            <p class="username">Nom d'utilisateur : {{ user.username }}</p>
        </div>
        
    <div class="avatar-container">
        <img id="avatar-img" src="{% static 'avatar/' %}{{ user.username }}-avatar.png" class="profile-avatar" onerror="this.src='{% static 'avatar/ponguser.png' %}'">
        <form id="avatar-upload-form" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group button-group">
                <input type="file" id="avatar" name="avatar" accept="image/png" hidden>
                <label for="avatar" class="btn btn-primary">Choisir un fichier</label>
                <button type="submit" class="btn btn-primary_2">Upload</button>
            </div>
        </form>
    </div>
        

        <div class="my-profile-info">
            <h6>Demandes d'amis</h6>
            <div id="friend-requests">
            <!-- Les demandes d'amis seront affichées ici -->
            </div>
            <input type="text" id="friend-username" placeholder="Nom d'utilisateur">
            {% csrf_token %}
            <button id="send-friend-request" class="btn btn-primary">Envoyer une demande d'ami</button>
            <h6>Liste d'amis</h6>
            <div id="friend-list">
                <!-- La liste d'amis sera affichée ici -->
            </div>
            <h6>Demandes d'amis en attente</h6>
            <div id="pending-friend-requests">
            <!-- Les demandes d'amis en attente seront affichées ici -->
            </div>
        </div>

        <div class="nav-item change-info-link"><a class="nav-link highlight" onclick="showSection('modif-profil')" href="#modif-profil">Modifier mon profil</a></div>
        {% csrf_token %}
        <button id="logout-button" class="btn btn-primary">Logout</button>
        <button id="unsubscribe-btn" class="btn btn-primary">Se désinscrire</button>
    </div>

    <div id="section-modif-profil" class="page" style="display: none;">
        <div id="update-user-form-container">
            <h5>Modifier vos informations</h5>
            <form id="update-user-form" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <input type="text" id="username" name="username" placeholder="Nom d'utilisateur:">
                </div>
                <div class="form-group">
                    <input type="email" id="email" name="email" placeholder="Nouvel email:">
                </div>
                <div class="form-group">
                    <input type="password" id="password" name="password" placeholder="Nouveau mot de passe:">
                </div>
                <button type="submit" class="btn btn-primary">Mettre à jour</button>
            </form>
        </div>
    </div>

    <div id="section-home" class="page" style="display: none;">
        <h3>Welcome to Let's Pong!</h3>
        <h4>Enjoy playing Pong or participate in our tournaments.</h4>
    </div>    

    <div id="section-pong" class="page" style="display: none;">
        <div id="unity-container" class="unity-desktop">
            <canvas id="unity-canvas" width="960" height="600" tabindex="-1"></canvas>
            <div id="unity-loading-bar">
                <div id="unity-logo"></div>
                <div id="unity-progress-bar-empty">
                    <div id="unity-progress-bar-full"></div>
                </div>
            </div>
            <div id="unity-warning"></div>
            <div id="unity-footer">
                <div id="unity-fullscreen-button"></div>
            </div>
        </div>
        <script type="module" src="{% static 'js/pong.js' %}" async></script>
    </div>
    


    <div id="section-tournoi" class="page" style="display: none;">
        <h5>Welcome to tournoi Pong!</h5>
        <div class="profile-info">
            <p class="profile-item"><span class="profile-label">Player 1</p>
        </div>
    </div>

    <div class="modal fade" id="ModalForm" tabindex="-1" aria-labelledby="ModalFormLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="myform bg-dark">
                        <h1 class="text-center">Se connecter</h1>
                        <form id="login-form" method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <div class="mb-3 mt-4">
                                <label for="login-username" class="form-label">Nom d'utilisateur</label>
                                <input type="text" class="form-control" id="login-username" name="username" aria-describedby="emailHelp" autocomplete="username">
                            </div>
                            <div class="mb-3">
                                <label for="login-password" class="form-label">Mot de passe</label>
                                <input type="password" class="form-control" id="login-password" name="password" autocomplete="current-password">
                            </div>
                            <button type="submit" class="btn btn-light mt-3" id="login-button">Se connecter</button>
                            ou
                            <button id="btn-open-login-42" type="button" class="btn btn-light mt-3" onclick="open42AuthPopup()">Se connecter avec 42Auth</button>
                            <button id="btn-open-inscription" type="button" class="btn btn-light mt-3" data-bs-toggle="modal" data-bs-target="#ModalFormRegister">
                                S'inscrire
                            </button>
                        </form>                    
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="modal fade" id="ModalFormRegister" tabindex="-1" aria-labelledby="ModalFormLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="myform bg-dark" id="section-inscription">
                        <h1 class="text-center">S'inscrire</h1>
                        <form id="register-form" method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <div class="mb-3 mt-4">
                                <label for="email-register" class="form-label">Adresse e-mail</label>
                                <input type="email" class="form-control" id="email-register" name="email" aria-describedby="email">
                            </div>
                            <div class="mb-3 mt-4">
                                <label for="username-register" class="form-label">Nom d'utilisateur</label>
                                <input type="text" class="form-control" id="username-register" name="username" aria-describedby="username" autocomplete="username">
                            </div>
                            <div class="mb-3 mt-4">
                                <label for="password-register" class="form-label">Mot de passe</label>
                                <input type="password" class="form-control" id="password-register" name="password" aria-describedby="password" autocomplete="new-password">
                            </div>
                            <button type="submit" class="btn btn-light mt-3" id="login-button">S'inscrire</button>
                            <div id="register-error" class="text-danger"></div> 
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>   

    <!-- Modal for 2FA -->
    <div class="modal fade" id="2FAModal" tabindex="-1" aria-labelledby="2FAModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="myform bg-dark">
                        <h1 class="text-center">Two-Factor Authentication</h1>
                        <button id="verify-email-button" class="btn btn-primary">Send Verification Email</button>
                        <div id="2fa-verification-section" style="display:none;">
                            <form id="2fa-form" method="post">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <div class="mb-3 mt-4">
                                    <label for="otp-token" class="form-label">Enter OTP</label>
                                    <input type="text" class="form-control" id="otp-token" name="otp_token" aria-describedby="otpHelp" autocomplete="one-time-code">
                                </div>
                                <button type="submit" class="btn btn-light mt-3" id="two-fa-button">Verify</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="2FASuccessModal" tabindex="-1" aria-labelledby="2FASuccessModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="alert alert-success" role="alert">
                        Two-Factor Authentication verified successfully!
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="2fa-success-close-button" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    
    <script type="text/javascript" src="{% static 'js/index.js' %}" async></script>
    <script type="text/javascript" src="{% static 'js/account.js' %}" async></script>
    <script type="text/javascript" src="{% static 'js/42auth.js' %}" async></script>
    <script type="text/javascript" src="{% static 'js/classement.js' %}" async></script>
    <script type="text/javascript" src="{% static 'js/friends.js' %}" async></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">
    
    <script>
        var userIsLoggedIn = document.getElementById('userIsLoggedIn').value === 'true';
        var is2FACompleted = document.getElementById('is2FACompleted').value === 'true';

        if (!userIsLoggedIn) {
            $('#ModalForm').modal('show');
        } else if (!is2FACompleted) {
            $('#2FAModal').modal('show'); // Show 2FA modal if user is logged in but hasn't completed 2FA
        }

        document.addEventListener('DOMContentLoaded', function() {
            var userIsLoggedIn = document.getElementById('userIsLoggedIn').value === 'true';
            var is2FACompleted = document.getElementById('is2FACompleted').value === 'true';

            if (!userIsLoggedIn) {
                $('#ModalForm').modal('show');
            } else if (!is2FACompleted) {
                $('#2FAModal').modal('show'); // Show 2FA modal if user is logged in but hasn't completed 2FA
            }

            document.getElementById('verify-email-button').addEventListener('click', function(event) {
                fetch('/send_otp_email/', {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': getCookie('csrftoken')
                    }
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        alert('Verification email sent. Please check your email for the verification code.');
                        $('#2fa-verification-section').show();
                        $('#verify-email-button').hide(); // Hide the button after it's clicked
                    } else {
                        console.error('Error sending verification email:', data.message || response.statusText);
                        alert('Error sending verification email: ' + (data.message || response.statusText));
                    }
                })
                .catch(error => {
                    console.error('Error during the request:', error);
                    alert('Error during the request: ' + error.message);
                });
            });

            document.getElementById('2fa-form').addEventListener('submit', function(event) {
                event.preventDefault();
                const otp_token = document.getElementById('otp-token').value;

                fetch('/verify_otp/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded',
                        'X-CSRFToken': getCookie('csrftoken')
                    },
                    body: `otp_token=${encodeURIComponent(otp_token)}`
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        alert('2FA verification successful and confirmed.');
                        localStorage.setItem('access', data.access);
                        localStorage.setItem('refresh', data.refresh);
                        $('#2FAModal').modal('hide'); // Hide the 2FA modal
                        $('#2FASuccessModal').modal('show'); // Show the success modal
                    } else {
                        console.error(data.error_message);
                        alert('Error: ' + data.error_message);
                    }
                })
                .catch(error => {
                    console.error('Erreur lors de la requête:', error);
                    alert('Erreur lors de la requête: ' + error.message);
                });
            });

            $('#2FASuccessModal').on('hide.bs.modal', function () {
                $('#2FAModal').modal('hide'); // Hide the 2FA modal
            });

            document.getElementById('2fa-success-close-button').addEventListener('click', function(event) {
                $('#2FASuccessModal').modal('hide');
                $('#2FAModal').modal('hide');
                window.location.reload();
            });

            function getCookie(name) {
                let cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    const cookies = document.cookie.split(';');
                    for (let i = 0; i < cookies.length; i++) {
                        const cookie = cookies[i].trim();
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
        });
    </script>
    
</body>
</html>
