{% load static %}
<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <title>Let's Pong - Accueil</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid" id="root">
            <a class="navbar-brand">Let's Pong</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#pong" onclick="showSection('pong')">Pong</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#tournoi" onclick="showSection('tournoi')">Mode Tournoi</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#classement" onclick="showSection('classement')">Classement</a>
                    </li>
                </ul>
            </div>
            <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#ModalForm">
                Mon profil/Connexion
            </button>
        </div>
    </nav>
    
    <div id="section-pong" class="page" style="display: none;">
         <p>Joueur 1 : <em id="player-score">0</em> - Joueur 2 : <em id="computer-score">0</em></p>
        <ul>
            <li>
                <button id="start-game">Démarrer</button>
            </li>
            <li>
                <button id="stop-game">Arrêter</button>
            </li>
        </ul>
        <canvas id="canvas" width="640" height="480"></canvas>
    </div>

    <div id="section-tournoi" class="page" style="display: none;">

    </div>

    <div id="section-classement" class="page" style="display: none;">

    </div>

    <div class="modal fade" id="ModalForm" tabindex="-1" aria-labelledby="ModalFormLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="myform bg-dark">
                    <h1 class="text-center">Se connecter</h1>
                    <form id="login-form">
                        <div class="mb-3 mt-4">
                            <label for="InputUsername" class="form-label">Nom d'utilisateur</label>
                            <input type="username" class="form-control" id="login-username" aria-describedby="emailHelp">
                        </div>
                        <div class="mb-3">
                            <label for="InputPassword" class="form-label">Password</label>
                            <input type="password" class="form-control" id="login-password">
                        <button type="submit" class="btn btn-light mt-3">LOGIN</button>
                        ou
                        <button id="btn-open-login-42" type="button" class="btn btn-light mt-3">Se connecter avec 42Auth</button>
                        <button id="btn-register" type="button" class="btn btn-light mt-3" data-bs-toggle="modal" data-bs-target="#ModalFormRegister">
                            S'inscrire
                        </button>
                    </form>
                </div>
            </div>
          </div>
        </div>
    </div>

    <div class="modal fade" id="ModalFormRegister" tabindex="-1" aria-labelledby="ModalFormLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                    <div class="myform bg-dark" id="section-inscription">
                        <h1 class="text-center">S'inscrire</h1>
                        <form id="register-form" method="post">
                            {% csrf_token %}
                            <div class="mb-3 mt-4">
                                <label for="email-register" class="form-label">Adresse mail</label>
                                <input type="email" class="form-control" id="email-register" name="email" aria-describedby="email">
                            </div>
                            <div class="mb-3 mt-4">
                                <label for="username-register" class="form-label">Nom d'utilisateur</label>
                                <input type="text" class="form-control" id="username-register" name="username" aria-describedby="username">
                            </div>
                            <div class="mb-3 mt-4">
                                <label for="password-register" class="form-label">Mot de passe</label>
                                <input type="password" class="form-control" id="password-register" name="password" aria-describedby="password">
                            </div>
                            <button type="submit" class="btn btn-primary">S'inscrire</button>
                            <div id="register-error" class="text-danger"></div> 
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <script type="text/javascript" src="{% static 'js/index.js' %}" async></script>
    <script type="text/javascript" src="{% static 'js/pong.js' %}" async></script>
    <script type="text/javascript" src="{% static 'js/account.js' %}" async></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
    <script>
        $(document).ready(function(){
            $('#ModalForm').modal('show');
        });
    </script>
</body>
</html>
